/*
  1. 使用更加符合直觉的盒子模型
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. 去除默认的margin
*/
* {
    margin: 0;
}

/*
  3. 修正默认的body行为
*/
html,
body {
    height: 100%;
    position: relative;
}

/*
  5.调整字体渲染
  Prevent adjustments of font size after orientation changes in iOS.
  滚动丝滑
*/
body {
    line-height: 1.618;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/*
  6. 修正默认的媒体行为
*/
img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

/*
  7. 去除内置的文字样式
  去除输入框外部的outline
*/
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

/*
  8. 避免文字溢出
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* 10.对齐icon和text */
.icon,
.text {
    vertical-align: text-bottom;
    display: inline-block;
}


/* 11.默认字体大小16px */
html,
body {
    font-size: 16px;
}


/* lulu定制主题 */
:root {
    /* 基础颜色变量 */
    --ui-blue: #2a80eb;
    --ui-dark-blue: #0057c3;
    --ui-dark: #4c5161;
    --ui-gray: #a2a9b6;
    --ui-dark-gray: #b6bbc6;
    --ui-light: #f7f9fa;
    --ui-white: #ffffff;
    --ui-green: #1cad70;
    --ui-orange: #f59b00;
    --ui-red: #eb4646;
    /* hover 的颜色 */
    --ui-list-hover: #f0f7ff;
    /* selected 的颜色 */
    --ui-list-selected: #e0f0ff;
    /* disabled 禁用色 */
    --ui-disabled: #ccd0d7;
    /* 边框颜色 */
    --ui-border: #d0d0d5;
    /* 深一点的边框颜色 */
    --ui-dark-border: #ababaf;
    /* 浅一点的边框颜色 */
    --ui-light-border: #ededef;
}

.ui-dialog-footer {
    max-height: 100px !important;
}